body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    border: 1px solid #777;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    color: #fff;
    z-index: 9999; /* Asegura que el popup esté por encima de otros elementos */
}


.popup p {
    margin: 0 0 15px;
}

.popup a {
    color: #F9826F;
    text-decoration: none;
    font-weight: bold;
}

.popup a:hover {
    text-decoration: underline;
}

button#accept-cookie {
    background: #F9826F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button#accept-cookie:hover {
    background: #c45948;
}
